#gmail-btn {
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
  background-color: rgb(203, 255, 238);
}

#gmail-btn:hover {
  cursor: pointer;
  border-radius: 20px;
  background-color: rgb(209, 255, 179);
}

.top-bar-social #social a {
  width: 40px;
}

#social-title {
  color: azure;
  padding-top: 25px;
  padding-bottom: 15px;
}

#send-msg-form input {
  font-size: larger;
}

#send-msg-form textarea {
  font-size: larger;
}
